/* Media Query for large + screens */
* {
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #5893D4;
}

.container {
	margin: auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
}

header {
	width: 100%;
	padding: 30px 0;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

header .navigation a{
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	font-size: 18px;
}

header .navigation a:hover{
	text-decoration: underline;
}

.navigation a:first-child{
        display: none;
    }

.sumary{
	
	background: #CEDDEF;
	padding: .5em .5em .5em 2em;
	font: size 0.75em; 	
	color:#000;
	text-align: left;
}

main {
	background: #CEDDEF;
	padding: 20px;
	width: 70%;
}

main article .thumb {
	margin-bottom: 10px;
}

main article .thumb img {
	width: 100%;
	vertical-align: top;
}

 h2 {
	margin-bottom: 15px;
	font-weight: normal;
	font-size: 2.8em;
	font-family: 'Rochester', cursive;
	color: #070D59;
	text-align: center;
}

main article p{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 25px;
}

main section,.services{
	padding: .5em .5em .5em 2em;
	font-size: 14px;
	line-height: 25px;
}

aside {
	width: 30%;
	background: #070D59;
	padding: 15px;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	/*justify-content:space-between;*/
}

aside .ad {
	/*text-align: left;*/
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.ad img{
	width: 100%;
}

.ad a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.ad a:hover{
	text-decoration: underline;
	font-size: 20px;
}

.titulo{
	color:#5893D4;
	font-size: 1.5 em;
	

}
footer {
	margin: 20px 0;
	background: #070D59;
	padding: 20px;
	width: 100%;
	color: #fff;
	display: flex;
	flex-direction:row;
	flex-wrap:no-wrap;
	justify-content:space-between;
}

footer .social-media a {
	color: #fff;
	text-decoration: underline;
	margin-left: 20px;
}

footer .social-media a:hover {
	text-decoration: none;
}

@media screen and (max-width: 800px){
	main {
		width: 100%;
	}

	aside {
		width: 100%;
		flex-direction:row;
		justify-content:center;
		 
	}

	aside .ad {
		margin: 10px;
		width: 45%;
		
	}
}
