@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* { margin: 0; box-sizing: border-box; } 
body {
    background-color: #FAFAFA;
    font-family: 'Roboto Slab', serif;
}
header img {
    width: 120px;
    height: auto;
    float: left;
}

header{
	margin: 10px auto;
	background-color: #4FD0FC;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}
img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 500px;
    align-self: auto;
}

h1,h2{ padding: .5rem; 
    font-family: 'Philosopher', sans-serif;
    font-size: 2rem;
    font-size: 2rem;
    color:#335980;}

h3,h4,h6{
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    color:#335980;
    border-bottom: 2px solid #bbb;
}

article{
	margin: 10px auto;
	background-color: #4FD0FC;
    border: 1px solid #bbb;
    color:#335980;
	}

nav {	
    margin: 0 auto;	
    max-width: 100%; 
    background-color: #898989;
    list-style: none; 
    text-align: center; 
    clear:both;
}

li:first-child { display: block;}

li { display: block; }

  a {	
      display: block;	
      color: #ccc; 
      padding: .75rem;	
      text-align: center;	
      text-decoration: none;
    }
  
  a:hover {	
      color: #0A0A0A; 
      background-color: #fff; 
      font-weight: 700;	}

.active {
  background-color: #335980;
}

/* Media Query for medium + screens */
@media only screen and ( min-width: 40em) 
{
  li:first-child { display: none;	}
  li { display: inline-block; margin-right: 1rem;}	
  li a { color:#0A0A0A;}
}